@import "../../../common/Common.module.scss";

.textAccordion {
  color: red;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.panelHeader {
  font-size: $font-normal;
}

.bannerImg100 {
  width: 100%;
  border-radius: 8px;
}

.bannerImg75 {
  width: 75%;
  border-radius: 8px;
}

.bannerImg50 {
  width: 50%;
  border-radius: 8px;
}

.bannerImg25 {
  width: 25%;
  border-radius: 8px;
}

.previewImg {
  display: flex;
  max-width: 100%;
}

.buttonNewItem {
  margin: 8px;
  height: auto;
  font-size: $font-small;
  padding: 4px 16px;
}

.buttonNewItem:hover {
  height: auto;
  background-color: #7048e8;
  border-radius: 32px;
  color: $color-white;
  box-shadow: $box-shadow;
}

.imagemExemploBanner {
  height: 60%;
  width: 100%;
}

.footerPanel {
  display: flex;
  justify-content: space-between;
}
